.button {
  font-family: "Comic Sans MS", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #333333;
  padding: .1em 1em;
  border: 0;
  border-radius: .5em;
  cursor: pointer;
  display: inline-block;
  transition: color .25s, box-shadow .25s;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  background-color: #ffe566;
  border-bottom: 6px solid #CCBB30;
}
.button:hover {
  background-color: #FFEA80;
}
.button:active {
  margin-top: 5px;
  border-bottom-width: 1px;
}

.button[disabled] {
  color: #999999;
  background-color: #E0E0E0;
  border-bottom-color: #999999;
  cursor: default;
}
.button[disabled]:hover {
  background-color: #E0E0E0;
}

.button + .button {
  margin-left: .5em;
}

/*background-color: #5cbb73;*/
/*background-color: #2e9948;*/

