.resultsList {
  margin: 1em 0;
  padding: 0;
}

.result {
  list-style: none;
}
.result.__correct {
  color: green;
}
.result.__incorrect {
  color: red;
}
.result.__incorrect .result_solution {
  text-decoration: line-through;
}
.result.__correct:before {
  font-family: monospace;
  content: '\02714\00A0';
}
.result.__incorrect:before {
  font-family: monospace;
  content: '\02718\00A0';
}

.result_example {
}
.result_correct {
  padding-left: .25em;
}
