.attemptsList {
  margin: 1em 0;
  padding: 0;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 5%;
  row-gap: 1em;
}

.attempt {
  list-style: none;
  padding: 0.5em;
  border: 1px solid #999;
  border-radius: 8px;
}

.attempt_id {
  margin: 0 0 1em;
  color: #999;
  font-size: 10px;
  line-height: 1;
}
.attempt_id:after {
  content: ".";
}

.attempt_line {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.attempt_number {
  margin: 0 0.25em;
}

.attempt_sign {
  margin: 0 0.25em;
}

.attempt_input {
  margin-left: 0.25em;
  display: flex;
  flex-direction: column;
}
