.input {
  margin: 0;
  max-width: 80px;
  padding: 0.25em;
  background: #f0f0f0;
  border: none;
  border-bottom: 2px solid #ccc;
  border-radius: .5em;
  font-family: "Comic Sans MS", sans-serif;
  font-size: 32px;
}
