body {
  background-color: #edf3ff;
  font-family: Nunito, "Comic Sans MS", sans-serif;
}

.app {
  margin: 40px;
}

.view {
  margin: 0 auto;
  padding: 20px;
  max-width: 640px;
  border-radius: 8px;
  box-shadow: 5px 5px 20px #e0e0e0;
}

.view_title {
  font-size: 24px;
  font-weight: normal;
  line-height: 1;
  margin: 0 0 1em 0;
}

.examplesList {
  margin: 1em 0;
  padding: 0;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 5%;
  row-gap: 1em;
}

.example {
  list-style: none;
  padding: 0.5em;
  border: 1px solid #999;
  border-radius: 8px;
}

.example_id {
  margin: 0 0 1em;
  color: #999;
  font-size: 10px;
  line-height: 1;
}
.example_id:after {
  content: ".";
}

.example_line {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.example_number {
  margin: 0 0.25em;
}

.example_sign {
  margin: 0 0.25em;
}

.example_input {
  margin-left: 0.25em;
  display: flex;
  flex-direction: column;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
